<ion-content padding class="cash-funds">
  <div class='info-header'>
    <div>
      <span class="ico-education"></span>
    </div>
    <div>
      <h3 class="hh">HBL Energy Fund</h3>
    </div>
  </div>
  <div class='nav-fund-details-header'>
      <div>
        <p *ngFor="let user of users | slice:7:8" [title]="user.name">Fund Price as of {{user.updated_date}}</p>
      </div>
      <div class="image-flex">
        <div>
          <p>Offer (Rs)</p>
          <h1  *ngFor="let user of users | slice:7:8" [title]="user.name">{{user.offer_price}}</h1>
        </div>
        <div>
          <p>Redemption (Rs)</p>
          <h1  *ngFor="let user of users | slice:7:8" [title]="user.name">{{user.redemption_price}}</h1>
        </div>
      </div>
    </div>
  <div class="main">
    <div class="head">
      <p>
        HBL Energy Fund is an open end Fund managed by HBL Asset Management Ltd, a wholly owned subsidiary
        of HBL.
      </p>
    </div>
    <div class="objective">
      <h3>Objective</h3>
      <p>
        The objective of HBL Energy Fund is to invest in the equity securities of Energy Sector in order to provide the investors
        an access to high quality blue chip stocks in the Energy Sector. This will also provide the investors an opportunity
        to earn capital growth over medium to long-term.
      </p>
    </div>
    <div class="features">
      <h3>Features and Benefits of HBL Energy Fund</h3>
      <ul>
        <li>
          Ideal for individuals and corporates who wish to invest in energy sector of Pakistan.
        </li>
        <li>
          Holding Period: No fixed term; can be redeemed at any time
        </li>
        <li>
          Minimum Investment Rs. 1,000
        </li>
        <li>
          Subsequent investment Rs. 1,000
        </li>
        <li>
          Encashment: 2-3 Days. However constitutive documents of the fund allow up to six working days.
        </li>
        <li>
          Tax Credit: Can be availed by salaried and self-employed individuals as per current tax laws.
        </li>
        <li>
          Capital Gains Tax (CGT) will be deducted as per current tax law
        </li>
        <li>
          Front End Load: 2%
        </li>
        <li>
          Risk Level: High
        </li>
      </ul>
      <div>
        <button block round ion-button (click)="sendSMS()">Contact Us to Invest</button>
        
      </div>
    </div>
  </div>


</ion-content>