.videos {
 

      p{
          font-size: 14px !important;
          
          margin-bottom: 10px !important;
          padding-left: 20px;padding-right: 20px;
      }
     .video{
      margin: 0 auto;
      padding: 10px 10px 20px 10px;

} 
}

