.abouthblaml {
    .ion-logo-facebook:before{
        color:#4267b2;
    }
    .ion-logo-twitter:before{
        color: #1da1f2
    }
    .ion-logo-linkedin:before{
        color: #0077B5
    }
    .ion-logo-youtube:before{
        color: #ff0909
    }
    p{
        font-size: 14px !important;
        
        margin-bottom: 10px !important;
        padding-left: 20px;padding-right: 20px;
    }
    
    
}
