.cash-funds {
  color: #000;
  h3 {
    color: black;
    font-size: 16px;
  }
  table{
    width: 100%;
  }
  tr, td{
    border: 1px solid black;
  }

  .info-header {
    background-color: map-get($colors, hbl-black);
    padding-left: 4%;
    display: flex;
    align-items: center;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    span {
      font-size: 50px;
    }
    h3 {
      color: white;
      margin: 0;
      margin-left: 20px;
      font-weight: 900;
    }
  }
  .scroll-content {
    padding: 56px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 47px;
    @media only screen 
        and (max-width : 375px) 
        and (max-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) 
         { 
          margin-top:40px !important;
        }
    
  }
  
  .main {
    padding-left: 30px !important;
    padding-right: 30px !important;
    .head {
      p {
        font-size: 14px !important;
      }
    } 
    .objective {

      p {
        font-size: 14px !important;
        line-height: 22px;
        color: #000;
      }
    }
    .features {
      ul {
        padding: 0px;
        list-style-type: none;
        font-size: 14px;
        line-height: 22px;
        position: relative;
        li {
          padding-left: 20px;
          padding-bottom: 0%;
          line-height:20px !important;
          color: #000;
          span {
            content: "•";
            color: map-get($colors, hbl-green);
          }
          &:before {
            font-size: 35px;
            position: absolute;
            left: -2px;
            content: "•"; 
            color:map-get($colors, hbl-green);
          }
        }
      }
      button,a {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        background-color: map-get($colors, hbl-green);
        span {
          font-weight: 900;
          text-transform: capitalize;
        }
      }
    }
  }
 
}