.reports {
    .list-md {
        margin: 0;
      }
      ion-list {
        ion-item {
          padding-left: 15px;
        padding-right: 15px;
          border-bottom: 1px solid rgb(238, 234, 234) !important;
          ion-thumbnail {
           min-height: 30px;
           min-width: 25px; 
          }
          ion-label{
            a{
              text-decoration: none;
            }
          }
          ion-icon {
            font-size: 2.8rem;
            color: #576167;
          } 
        }
      p {
          font-size: 15px !important;
        }
      }
      
    
        .button-full-md {
          margin: 0;
          background-color: #FFB200;
        }
      .yellow {
        background-color: #DE9D05;
        display: flex;
        padding-top: 3%;
        padding-bottom: 1%;
        align-items: center;
        justify-content: space-around;
        div {
          width: 15vh;
          text-align: center;
          font-weight: 600;
          color: white;
           p{
            font-size: 12px !important;;
            margin-top: 0;
           }
        }
      }
      span {
        font-size: 28px;
        color: #008269 
      }
}

.platform-android{
  .reports .scroll-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 102px !important;
}
}